@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}
.dark header {
  background-image: url('../public/bg-desktop-dark.jpg');
}
.light header {
  background-image: url('../public/bg-desktop-light.jpg');
}
